# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class

# idea #
.idea
.mvn
*.iml

# Package Files #
*.jar
*.war
*.ear
/target

