# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# maven #
target
mvnw
mvnw.cmd

# Mac #
.DS_Store


# idea #
.idea
.mvn
*.iml

# Package Files #
*.jar
*.war
*.ear
/target

